<%= form_for @book do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <%= f.fields_for :chapters do |c| %>
    <div>
      <%= c.label :heading, "Chapter" %>
      <%= c.text_field :heading %>
      <%= c.fields_for :paragraphs do |p| %>
        <div>
          <%= p.label :text, "Paragraph" %><br />
          <%= p.text_area :text, :rows => 3 %>
        </div>
      <% end %>
    </div>
  <% end %>
  <p><%= f.submit %></p>
<% end %>
