<%= form_for @book do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <%= f.fields_for :chapters do |c| %>
    <p>
      <%= c.label :heading, "Chapter" %><br />
      <%= c.text_field :heading %>
    </p>
  <% end %>
  <p><%= f.submit %></p>
<% end %>
